
.about  { opacity : 0; transition:opacity 1.2s; }
.about:hover { opacity : .85}
.about {
	height: 400px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 117px;
	margin-bottom: auto;
  font-family: 'Open Sans', serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  font-weight: 300;
}

.about a:link {
	text-decoration: none;
	color: black;
}

.about a:visited {
	text-decoration: none;
	color: black;
}

#websaver {
	font-size: 90%;
}
