body {
  -webkit-transition: background-color 161ms linear;
  -moz-transition: background-color 161ms linear;
  -o-transition: background-color 161ms linear;
  -ms-transition: background-color 161ms linear;
  transition: background-color 161ms linear;
}
.about, #counter{
  font-family: 'Open Sans', serif;
  -webkit-font-smoothing: antialiased;
  color: white;
}
.about  { opacity : 0; transition:opacity 1.2s; }
.about:hover { opacity : .85}
.about {
	height: 400px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 117px;
	margin-bottom: auto;
  font-family: 'Open Sans', serif;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  color: white;
  font-weight: 300;
  font-size: 1.5em;
}

.about a:link {
	text-decoration: none;
	color: black;
}

.about a:visited {
	text-decoration: none;
	color: black;
}

.about>.and {
	font-size: .8em;
}
#websaver {
	font-size: 90%;
}

#counter {
  font-size: 20px;
  color:rgba(0,0,0,0.8);
  position:fixed;
  /* width:30px;
  height:30px; */
  right:5px;bottom:5px;
  text-align: center;
  font-family: monospace;
  padding:5px;
  background-color: rgba(245,245,245,0.4);
}
